@font-face {
    font-family: "redhat";
    src: url("/fonts/RedHatDisplay-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "redhat";
}

:root {
    background-color: #222;
    width: 100%;
    margin-top: 108px;
}
